

h1 {
    text-align: center;
}
fieldset input[type="radio"]{
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px solid green;
    border-radius: 50%;
    vertical-align: bottom;
}

fieldset input[type="radio"]::before{
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(3px, 3px) scale(0);
    transition: all 0.3s ease-in;
}

fieldset input[type="radio"]:checked::before{
    background-color: green;
    transform: translate(3px,3px) scale(1);
}
fieldset input[type="radio"]:hover::before{
    background-color: green;
    transform: translate(3px,3px) scale(1);
}
input[type="text"],input[type="email"]{
    width: 100%;

}

.container {
    background-color: rgb(242, 242, 214);
    width: 400px;
    padding: 20px;
    margin: auto;
    display: flex;
}

textarea{
    width: 100%;
}
button{
    width: 100%;
    padding: 10px;
    background-color: green;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: black;
}