body {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    background-color: rgb(147, 227, 227);
    max-width: 400px;
    height: 300px;
    padding: 20px;
    margin: auto;
    border-radius:10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

div div:nth-of-type(odd) {
    background-color: rgb(5, 174, 174);
    border-radius: 5px;
    padding: 10px;
}

div div:nth-of-type(even) {
    background-color: rgb(11, 90, 239);
    border-radius: 5px;
    padding: 10px;
}

.container:focus-within:not(button) {
    background-color: rgb(113, 162, 236);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 90%;
    border: none;
    border-radius: 5px; 
    height: 20px;
}
input[type="text"]:focus {
    background-color: rgb(202, 240, 253);
    outline: 2px solid rgb(5, 255, 5);
   
}

button {
    width: 100px;
    height: 40px;
    border-radius: 5pc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}