body {
    width: 90vw;
    height: 90vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    gap: 20px;
}
.container {
    background-color: rgb(147, 227, 227);
    min-width: 400px;
    height: 400px;
    padding: 20px;
    margin: auto;
    border-radius:10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* div is the parent, this selects .items that are odd */
div .items:nth-of-type(odd) {
    background-color: rgb(5, 174, 174);
    border-radius: 5px;
    padding: 10px;
}

/* div is the parent, this selects .items that are even */
div .items:nth-of-type(even):nth-of-type(even) {
    background-color: rgb(11, 90, 239);
    border-radius: 5px;
    padding: 10px;
}

.container:focus-within:not(button) {
    background-color: rgb(113, 162, 236);
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 90%;
    border: none;
    border-radius: 5px; 
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
}
input[type="text"]:focus {
    background-color: rgb(202, 240, 253);
    outline: 2px solid rgb(5, 255, 5);
   
}

button {
    width: 100px;
    height: 40px;
    border-radius: 5pc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 1.1rem;
    border: none;
    transition: ease-in 0.2s;
}

button:hover {
    background-color: orangered;
    color:whitesmoke;
    transform: scale(1.2);
}

button:active {
    outline: rgb(0, 191, 255) 2px solid;
}

h2 {
    text-align: center;
}

.show-container {
    background-color: rgb(0, 0, 0);
    max-width: 400px;
    height: 400px;
    color: greenyellow;
    padding: 20px;
    margin: auto;
    border-radius:10px;
}

.show-container p {
    text-align: centerd;
    padding: 20px;
}

.show-container p:hover {
    background-color: greenyellow;
    color: black;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}